:root {
  --clr-primary-1: rgb(39, 39, 168);
  --clr-primary-2: rgb(254, 254, 254);
  --clr-primary-3: rgb(15, 15, 15);
  --clr-secondary-1: rgb(237, 237, 237);
  --clr-secondary-2: rgb(210, 210, 210);
  --clr-hightlight-1: rgb(244, 244, 244);
  --clr-hightlight-2: rgb(194, 194, 194);
  --clr-hightlight-3: rgb(0, 154, 200);
  --clr-hightlight-error: rgb(217, 89, 50);
  --clr-failure: rgb(239, 16, 16);
  --clr-success: rgb(0, 136, 55);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

li {
  list-style: none;
  list-style-position: inside;
}

a {
  color: var(--clr-primary-3);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.separator {
  height: 8px;
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--clr-primary-3);
}

.outer-container {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 40rem auto 40rem;
  grid-template-rows: 8rem;
}

.header-left-pad {
  content: "";
}

.title-container {
  color: var(--clr-primary-3);
  justify-self: center;
  align-self: center;
}

.profile-container {
  color: var(--clr-primary-1);
  font-size: 1.65rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.username {
  letter-spacing: 3px;
}

.date {
  font-size: 1.5rem;
  font-style: italic;
}

.logo-container {
  padding: 1.5rem;
}

.logo-image {
  height: 100%;
}

.main-content {
  background-color: var(--clr-primary-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-container {
  font-size: 4rem;
}

.section-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.8rem;
}

.card {
  border: 1px solid var(--clr-secondary-2);
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-3);
  margin: 1rem 0;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.07);
}

.card-title {
  padding: 0.5rem;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
  font-size: 2.3rem;
  text-align: center;
}

.card-content {
  font-size: 1.7rem;
  padding: 0.5rem;
  color: var(--clr-primary-3);
}

.card-content ul li {
  margin: 0.5rem 0rem;
}

.inactive a {
  color: var(--clr-hightlight-2);
  text-decoration: line-through;
}

.inactive a:hover {
  color: var(--clr-hightlight-2);
  text-decoration: line-through;
}
